**/target/
**/.mvn/*
!**/.mvn/wrapper/
!**/.mvn/wrapper/maven-wrapper.jar

**/checkpoints
**/venv

**/.idea/

*.exe
*.pkg
**/*.exe

XGBoost_model/build
XGBoost_model/dist
XGBoost_model/output
XGBoost_model/main.spec
